.card {
  display: flex;
}

.card__image > img {
  border-radius: 10px;
  width: 400px;
  height: 260px;
}

.card__image {
  padding: 1% 0;
}

.content--location {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: -1%;
}

.content--location > a {
  padding-left: 1%;
  color: #918e9b;
}

.content--location > p {
  margin-left: -5px;
  font-weight: 500;
}

.content--date {
  align-items: center;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 1.5%;
}

.content--description {
  font-size: 1.2rem;
}

.content--title {
  margin: 0 0 2% 0;
  font-size: 2.5rem;
  font-weight: 700;
}

.card__content {
  padding: 2% 5% 2% 1%;
}

@media only screen and (max-width: 640px) {
  .card {
    flex-direction: column;
    overflow: hidden;
  }
  .card__image > img {
    width: 100%;
  }
  .content--description {
    text-align: justify;
  }
  .content--location > p {
    margin-left: 0px;
  }
}
